<html>
<head>
	<h1>{{title}}</h1>
</head>
<body>
	
{{!loop over the users}}
{{#users}}

<p>
	{{id}}: {{username}} 
	<form action="/users/delete" method="post">
		<input type="hidden" name="id" value="{{id}}"></input>
		<input type="hidden" name="username" value="{{username}}"></input>
		<input type="submit" value="x"></input>
	</form>
</p>

{{/users}}

<h3>Add another user?</h3>
<form method="post">
    <input type="text" name="username"></input>
    <input type="submit"></input>
</form>

</body>
</html>